<main class="container-fluid">

  <section class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Formulario</h5>

      <form [formGroup]="estudianteForm" (ngSubmit)="onSubmit()" class="row">
        <div class="col-6 row g-3">



          <div class="col">
            <input
              formControlName="nombre"
              type="text"
              [class.is-invalid]="nombreControl.invalid && nombreControl.touched"
              class="form-control"
              placeholder="First name"
              aria-label="First name"
            >
            <div class="invalid-feedback">
              Es requerido
            </div>
          </div>



          <div class="col">
            <input formControlName="apellido" type="text" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
          <div class="col-12">
            <input [formControl]="emailControl" type="email" class="form-control" placeholder="Email" aria-label="Email">
          </div>
        </div>
        <div class="col-6">
          <pre>{{ estudianteForm.value | json }}</pre>
        </div>
        <div class="col-12 mt-3">
          <button class="btn btn-primary" type="submit">Registrar</button>
        </div>
      </form>


    </div>
  </section>









  <section class="card">
    <div class="card-body">
      <h5 class="card-title">Listado</h5>
    </div>
  </section>
</main>
