<main class="container-fluid">

  <section class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Formulario</h5>

      <form [formGroup]="estudianteForm" class="w-50">
        <div class="row g-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
          <div class="col-12">
            <input type="email" class="form-control" placeholder="Email" aria-label="Email">
          </div>
        </div>
      </form>


    </div>
  </section>









  <section class="card">
    <div class="card-body">
      <h5 class="card-title">Listado</h5>
    </div>
  </section>
</main>
